/* 把所有标签的内外边距清零 */
* {
  /* margin: 0;
  padding: 0; */
  /* css3盒子模型 */
  box-sizing: border-box;
}
/* logo */
.moon-logo {
  width: 100%;
  height: 2.8rem;
  background-image: url(../images/moon-logo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* 自定义首页按钮 */
.docs {
  margin: 1em 0;
  font-size: 1.1em;
  color: red;
}
.docs li {
  margin: 0.8em 0;
}
.docs a {
  text-decoration: none;
}
.docs a:hover {
  color: yellow;
  text-decoration: none;
  padding: 0.3em 0.5em;
  background-image: linear-gradient(to right, rgb(50, 153, 210), rgb(239, 189, 181));
  background-position: initial;
  background-size: initial;
  background-repeat: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  display: inline-block;
  border-radius: 0.4em;
  margin-right: 2px;
  margin-left: 2px;
  letter-spacing: 1px;
  box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, 0.3);
}
