# Compiled class file
*.class
.idea
target
*.iml

.classpath
.project
.settings
Bin

# Log file
*.log

# ignore vnote 2.x config file
**/_vnote.json
*.vswp
_v_recycle_bin

# ignore vnote 3.x config file
#vx.json
#vx_notebook

# 忽略VNote软件的删除缓存
vx_recycle_bin

# 忽略 vsCode
.vscode

# 忽略 office 编辑临时文件
~*.doc
~*.tmp

# 忽略同步的临时文件
resources/!temp_data/